<style>
  .mercury-iframe {
    height: 100px;
  }
</style>
<meta content="authenticity_token" name="csrf-param" />
<meta content="K6JhyfOVKJX8X2ZkiJXSf491fc1fF+k79wzrChHQa0g=" name="csrf-token" />

<div id="page_editor_container"></div>
<div id="region1" class="custom-region-class" data-type="editable"></div>
<div id="region2" class="custom-region-class" data-type="editable"></div>
<div id="region3" class="custom-region-class" data-type="editable">
  <a id="anchor1r" href="#" target="_top">1</a>
  <a id="anchor2r" href="#" target="_blank">2</a>
  <a id="anchor3r" href="#" target="_self">3</a>
  <a id="anchor4r" href="#">4</a>
  <form id="form1r" action="" target="_top"></form>
  <form id="form2r" action="" target="_blank"></form>
  <form id="form3r" action="" target="_self"></form>
  <form id="form4r" action=""></form>
</div>

<a id="anchor1" href="#" target="_top">1</a>
<a id="anchor2" href="#" target="_blank">2</a>
<a id="anchor3" href="#" target="_self">3</a>
<a id="anchor4" href="#">4</a>
<a id="anchor5" href="#" class="lightview" target="_self">5</a>
<a id="anchor6" href="#" target="foo">5</a>
<form id="form1" action="" target="_top"></form>
<form id="form2" action="" target="_blank"></form>
<form id="form3" action="" target="_self"></form>
<form id="form4" action=""></form>
<form id="form5" action="" class="lightview" target="_self"></form>
<form id="form6" action="" target="foo"></form>
