<style>
  .mercury-iframe {
    height: 100px;
  }
</style>
<meta content="authenticity_token" name="csrf-param" />
<meta content="K6JhyfOVKJX8X2ZkiJXSf491fc1fF+k79wzrChHQa0g=" name="csrf-token" />

<div id="page_editor_container"></div>
<div id="region1" class="mercury-region" data-type="editable"></div>
<div id="region2" class="mercury-region" data-type="editable"></div>
<div id="region3" class="mercury-region" data-type="editable">
  <a id="anchor1r" href="#" target="_top">1</a>
  <a id="anchor2r" href="#" target="_blank">2</a>
  <a id="anchor3r" href="#" target="_self">3</a>
  <a id="anchor4r" href="#">4</a>
</div>

<a id="anchor1" href="#" target="_top">1</a>
<a id="anchor2" href="#" target="_blank">2</a>
<a id="anchor3" href="#" target="_self">3</a>
<a id="anchor4" href="#">4</a>