<style>
  #table1 th, #table1 td {
    width: 100px;
    padding: 0;
  }
</style>

<table border="1" cellspacing="2" id="table1">
  <thead>
    <tr id="row1">
      <th colspan="6">THEAD</th>
    </tr>
  </thead>
  <tbody>
    <tr id="row2">
      <th>Head1</th>
      <th>Head2</th>
      <th rowspan="2">Head3</th>
      <th>Head4</th>
      <th rowspan="4">Head5</th>
      <th>Head6</th>
    </tr>
    <tr id="row3">
      <td>Column1</td>
      <td>Column2</td>
      <td>Column4</td>
      <td>Column6</td>
    </tr>
    <tr id="row4">
      <td>Column1</td>
      <td>Column2</td>
      <td>Column3</td>
      <td>Column4</td>
      <td>Column6</td>
    </tr>
    <tr id="row5">
      <th>Head1</th>
      <th>Head2</th>
      <th rowspan="2">Head3</th>
      <th>Head4</th>
      <th>Head6</th>
    </tr>
    <tr id="row6">
      <td>Column1</td>
      <td>Column2</td>
      <td>Column4</td>
      <td>Column5</td>
      <td>Column6</td>
    </tr>
    <tr id="row7">
      <td colspan="2">Column1</td>
      <td colspan="4">Column2</td>
    </tr>
  </tbody>
  <tfoot>
    <tr id="row8">
      <td>Column1</td>
      <td>Column2</td>
      <td>Column3</td>
      <td>Column4</td>
      <td>Column5</td>
      <td>Column6</td>
    </tr>
  </tfoot>
</table>