<style>
  #context_backcolor { background-color: #F00 }
  #context_forecolor { color: #0F0 }
  #context_bold3 { font-weight: 800 }
  #context_bold4 { font-weight: 600 }
  #context_bold5 { font-weight: 400 }
  #context_italic2 { font-style: italic }
  #context_strikethrough2 { text-decoration: line-through }
  #context_overline { text-decoration: overline }
  #context_underline2 { text-decoration: underline }
  #context_justifyLeft { text-align: left }
  #context_justifyCenter { text-align: center }
  #context_justifyRight { text-align: right }
  #context_justifyFull { text-align: justify }
</style>

<div id="context_button">button</div>
<div id="context_container">
  <div id="context_none">nothing</div>
  <div id="context_backcolor">back<span>color</span></div>
  <div id="context_forecolor">fore<span>color</span></div>
  <div>
    <b id="context_bold1">bold <span>123</span></b>
    <strong id="context_bold2">bold <span>123</span></strong>
    <span id="context_bold3">bold <span>123</span></span>
    <span id="context_bold4">bold <span>123</span></span>
    <span id="context_bold5">not bold <span>123</span></span>
    <h1 id="context_bold6">bold <span>123</span></h1>
  </div>
  <div>
    <em id="context_italic1">italic <span>123</span></em>
    <span id="context_italic2">italic <span>123</span></span>
  </div>
  <div id="context_overline">overline <span>123</span></div>
  <div>
    <strike id="context_strikethrough1">strikethrough <span>123</span></strike>
    <span id="context_strikethrough2">strikethrough <span>123</span></span>
  </div>
  <div>
    <u id="context_underline1">underline <span>123</span></u>
    <span id="context_underline2">underline <span>123</span></span>
  </div>
  <sub id="context_subscript">sub<span>script</span></sub>
  <sup id="context_superscript">super<span>script</span></sup>
  <div>
    <div id="context_justifyLeft">justify <span>left</span></div>
    <div id="context_justifyCenter">justify <span>center</span></div>
    <div id="context_justifyRight">justify <span>right</span></div>
    <div id="context_justifyFull">justify <span>full</span></div>
  </div>
  <ol id="context_orderedlist">
    <li>ordered <span>list</span></li>
  </ol>
  <ul id="context_unorderedlist">
    <li>unordered <span>list</span></li>
  </ul>
  <div id="context_decoration">
    no decoration
    <span class="overline">
      overline
      <span class="underline">underline</span>
    </span>
  </div>
</div>
