# General
.bundle
.rvmrc
.powenv
mercury.ids

# Local config files
Gemfile.lock
database.yml
mongoid.yml

# Script files
script/

# Build files
distro/build
pkg/

# Databases
db/

# Logs
log/

# Tempfiles
tmp/
coverage
capybara*

# Assets
.sass-cache
public/system
public/assets
