!!!
%html
  %head
    = csrf_meta_tag
    = javascript_include_tag "mercury/dependencies", "mercury"
    = stylesheet_link_tag "mercury"
  %body

    %h1 <a href="/teabag">Specs</a>

    #gallery(data-mercury="gallery")
      .slides
      .paginator
