!!!
%html
  %head
    = csrf_meta_tag
    = javascript_include_tag "mercury/dependencies", "mercury"
    = stylesheet_link_tag "mercury"
  %body
    %h1 Mercury2 <a href="/teabag">Specs</a>

    %p
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      = link_to('Google Link', 'http://google.com')

    #html1(data-mercury="html")
      Lorem

    #html2(data-mercury="html")
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

    #markdown1(data-mercury="markdown")
      :preserve
        1
        **something here**
        2

        paragraph1
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

        paragraph2

        paragraph3

    #markdown2(data-mercury="markdown") Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    %img#image1(data-mercury="image" src="/assets/fpo1.jpg" width="200" height="200")
    %img#image2(data-mercury="image" src="/assets/girl_with_tattoos_01.jpg" width="200" height="200")

    #gallery1(data-mercury="gallery")
      .slides
      .paginator

:scss
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .highlight {
    background: yellow;
  }

