!!!
%html
  %head
    = csrf_meta_tag
    = javascript_include_tag "mercury/dependencies", "mercury"
    = stylesheet_link_tag "mercury"
  %body

    %h1 <a href="/teabag">Specs</a>

    %img#header_image(data-mercury="image" src="" style="min-height:50px;min-width:50px;border:1px solid red")

    #gallery(data-mercury="gallery")
      .slides
      .paginator
