!!!
%html
  %head
    = csrf_meta_tag
    = javascript_include_tag "mercury/dependencies", "mercury"
    = stylesheet_link_tag "mercury"
  %body
    %h1 Mercury2 <a href="/teabag">Specs</a>

    %p
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      = link_to('Google Link', 'http://google.com')

    #markdown_region(data-mercury="markdown")
      :preserve
        1
        **something here**
        2

        paragraph1
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

        paragraph2

        paragraph3

    %img#image_region(data-mercury="image" src="/assets/1.jpg" width="200" height="200")

    #gallery_region(data-mercury="gallery")
      .slides
      .paginator
