<form>
  <div id="table_display">
    <table id="table" border="1" cellspacing="0"><tr><td id="cell1"></td></tr><tr><td id="cell2"></td></tr></table>
  </div>

  <input class="action" name="insertRowBefore" type="button" value="Add Before">
  <input class="action" name="insertRowAfter" type="button" value="Add After">
  <input class="action" name="deleteRow" type="button" value="Remove">
  <input class="action" name="insertColumnBefore" type="button" value="Add Before">
  <input class="action" name="insertColumnAfter" type="button" value="Add After">
  <input class="action" name="deleteColumn" type="button" value="Remove">
  <input class="action" name="increaseRowspan" type="button" value="+">
  <input class="action" name="decreaseRowspan" type="button" value="-">
  <input class="action" name="increaseColspan" type="button" value="+">
  <input class="action" name="decreaseColspan" type="button" value="-">

  <select id="table_alignment" name="table[alignment]">
    <option value="">None</option>
    <option value="left">Left</option>
    <option value="right" id="right_option">Right</option>
  </select>

  <input id="table_border" type="text" value="1"/>
  <input id="table_spacing" type="text" value="0"/>

  <input id="submit" type="submit"/>
</form>
