%div{ :style => 'width:800px' }
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis justo tellus, scelerisque id placerat et, blandit lacinia ante. Sed vestibulum est quis urna pharetra scelerisque dictum erat tristique. Praesent semper neque ac augue fringilla in tempor orci fermentum. Aliquam elementum, lacus sed porttitor tempus, velit magna consectetur libero, eu mattis diam magna in libero. Sed volutpat arcu nulla, quis sollicitudin tortor. Vestibulum lobortis, purus id auctor tempor, massa odio auctor elit, porttitor scelerisque nulla lacus sed nulla. Praesent consectetur eros velit, eu facilisis tortor. Phasellus fringilla condimentum eros, eu viverra risus tristique eu. Curabitur dolor odio, sodales quis viverra nec, mollis a sapien.
  #test something
  #display

:javascript
  $('#test').click(function() {
    $('#display').html('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.')
    Carmenta.refresh()
  })
