Content outside the regions

.carmenta-region{ 'data-type' => 'editable' }
  editable content
  = link_to '/something_else'

.carmenta-region{ 'data-type' => 'snippet' }
  snippet content

= link_to '/something'
