Content outside the regions

.carmenta-region{ 'data-type' => 'editable' }
  editable content
  = link_to '/something_else'
  %table
    %tr
      %th Head1
      %th Head2
    %tr
      %td Column1
      %td Column2


.carmenta-region{ 'data-type' => 'snippet' }
  snippet content

= link_to '/something'
