<div class="mercury-color-picker">
  <div class="picker" style="background:#FFFFFF"></div>
  <div class="picker" style="background:#FFCCCC"></div>
  <div class="picker" style="background:#FFCC99"></div>
  <div class="picker" style="background:#FFFF99"></div>
  <div class="picker" style="background:#FFFFCC"></div>
  <div class="picker" style="background:#99FF99"></div>
  <div class="picker" style="background:#99FFFF"></div>
  <div class="picker" style="background:#CCFFFF"></div>
  <div class="picker" style="background:#CCCCFF"></div>
  <div class="picker" style="background:#FFCCFF"></div>
  <div class="picker" style="background:#CCCCCC"></div>
  <div class="picker" style="background:#FF6666"></div>
  <div class="picker" style="background:#FF9966"></div>
  <div class="picker" style="background:#FFFF66"></div>
  <div class="picker" style="background:#FFFF33"></div>
  <div class="picker" style="background:#66FF99"></div>
  <div class="picker" style="background:#33FFFF"></div>
  <div class="picker" style="background:#66FFFF"></div>
  <div class="picker" style="background:#9999FF"></div>
  <div class="picker" style="background:#FF99FF"></div>
  <div class="picker" style="background:#C0C0C0"></div>
  <div class="picker" style="background:#FF0000"></div>
  <div class="picker" style="background:#FF9900"></div>
  <div class="picker" style="background:#FFCC66"></div>
  <div class="picker" style="background:#FFFF00"></div>
  <div class="picker" style="background:#33FF33"></div>
  <div class="picker" style="background:#66CCCC"></div>
  <div class="picker" style="background:#33CCFF"></div>
  <div class="picker" style="background:#6666CC"></div>
  <div class="picker" style="background:#CC66CC"></div>
  <div class="picker" style="background:#999999"></div>
  <div class="picker" style="background:#CC0000"></div>
  <div class="picker" style="background:#FF6600"></div>
  <div class="picker" style="background:#FFCC33"></div>
  <div class="picker" style="background:#FFCC00"></div>
  <div class="picker" style="background:#33CC00"></div>
  <div class="picker" style="background:#00CCCC"></div>
  <div class="picker" style="background:#3366FF"></div>
  <div class="picker" style="background:#6633FF"></div>
  <div class="picker" style="background:#CC33CC"></div>
  <div class="picker" style="background:#666666"></div>
  <div class="picker" style="background:#990000"></div>
  <div class="picker" style="background:#CC6600"></div>
  <div class="picker" style="background:#CC9933"></div>
  <div class="picker" style="background:#999900"></div>
  <div class="picker" style="background:#009900"></div>
  <div class="picker" style="background:#339999"></div>
  <div class="picker" style="background:#3333FF"></div>
  <div class="picker" style="background:#6600CC"></div>
  <div class="picker" style="background:#993399"></div>
  <div class="picker" style="background:#333333"></div>
  <div class="picker" style="background:#660000"></div>
  <div class="picker" style="background:#993300"></div>
  <div class="picker" style="background:#996633"></div>
  <div class="picker" style="background:#666600"></div>
  <div class="picker" style="background:#006600"></div>
  <div class="picker" style="background:#336666"></div>
  <div class="picker" style="background:#000099"></div>
  <div class="picker" style="background:#333399"></div>
  <div class="picker" style="background:#663366"></div>
  <div class="picker" style="background:#000000"></div>
  <div class="picker" style="background:#330000"></div>
  <div class="picker" style="background:#663300"></div>
  <div class="picker" style="background:#663333"></div>
  <div class="picker" style="background:#333300"></div>
  <div class="picker" style="background:#003300"></div>
  <div class="picker" style="background:#003333"></div>
  <div class="picker" style="background:#000066"></div>
  <div class="picker" style="background:#330099"></div>
  <div class="picker" style="background:#330033"></div>
  <div class="last-picked">Last Color Picked</div>
</div>