%input.mercury-filter(type="search")
<p>The History Plugin expects a server implementation.</p>
<p>Since this is a demo, it wasn't included, but you can check the <a href="https://github.com/jejacks0n/mercury-rails">mercury-rails project</a> on github for examples of how to integrate it with your server technology.</p>
%ul
  %li(data-filter="v3 Changed the title")
    %h4 <a href="#version3">Version 3</a>
    Changed the title
  %li(data-filter="v2 Adjusted for legal")
    %h4 <a href="#version2">Version 2</a>
    Adjusted for legal
  %li(data-filter="v1 Restructured table of contents and added paragraph about press releases.")
    %h4 <a href="#version1">Version 1</a>
    Restructured table of contents and added paragraph about press releases.
