!!!
%html
  %head
    = csrf_meta_tag
    = stylesheet_link_tag "mercury.bundle"
    = javascript_include_tag "dependencies/jquery-2.0.0",
                             "dependencies/rangy-core",
                             "dependencies/rangy-cssclassapplier",
                             "dependencies/rangy-serializer",
                             "dependencies/marked-0.2.8",
                             "mercury.min",
                             "regions/html.min",
                             "regions/gallery.min",
                             "regions/image.min",
                             "regions/markdown.min",
                             "regions/plain.min",
                             "regions/snippet.min",
                             "regions/text.min"
    %script jQuery(function() { Mercury.init({frame: '#mercury_frame'}) })
  %body
    %iframe(id="mercury_frame" frameborder="0" src="/index.html")
