!!!
%html
  %head
    = stylesheet_link_tag "developer_interface"
    = javascript_include_tag "jquery-2.0.0", "developer_interface"
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  %body

    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    #markdown(data-mercury="markdown")

:javascript
  // If we're in an an iframe and Mercury is present in the parent we can shortcut the load time by initializing
  // manually. This will tell Mercury that this document has loaded and it can begin looking for regions.
  if (parent.Mercury) parent.Mercury.initialize()

  // If we're editing this page let's instantiate the developer toolbar for example usage/interactions. The developer
  // toolbar has many examples of how you can interact with Mercury. Also note that if we're in an iframe or not Mercury
  // will be exposed to us after it's been initialized.
  if (Mercury) new Mercury.DeveloperInterface()
