<%= form_for 'options', {html: {class: 'form-horizontal', style: 'width:600px'}} do |f| %>
  <div class="form-inputs">
    <label for="options_first_name">First Name</label>
    <input id="options_first_name" name="options[first_name]" type="text" value="<%= @options[:first_name] %>"/>
    <fieldset>
      <legend>Options</legend>
      <label class="label" for="options_favorite_beer">Favorite Beer</label>
      <input id="options_favorite_beer" name="options[favorite_beer]" type="text" value="<%= @options[:favorite_beer] %>"/>
    </fieldset>
  </div>

  <div class="form-actions">
    <input name="commit" type="submit" value="Insert Snippet"/>
  </div>
<% end %>
