body.home {
  background: url(../images/logo.png) no-repeat 200px 90px;
}
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}

#navigation {
  border-top: 5px solid #09F;
}

#body {
  padding-top: 100px;
}
#hero {
  text-align: center;
  background: transparent;
  padding-bottom: 20px;
}
#hero h2 {
  color: #666;
  font-weight: 300;
  font-size: 26px;
}
#hero h2 strong, #hero h2 b {
  font-weight: 400;
}
#hero .installation {
  margin: 0 auto;
  width: 250px;
  text-align: left;
  padding: 20px;
  color: #FFF;
  font-family: Monaco, Consolas, "Courier New", monospace;
  background: #333;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#social ul {
  list-style: none;
  text-align: center;
}
#social ul.support-links {
  margin-right: 30px;
}
#social li {
  display: inline;
  margin: 0 8px;
  color: #999;
}

#marketing {
  margin-bottom: 30px;
}
#marketing h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
#marketing p.marketing-byline {
  margin: -18px 0 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}
#marketing img.icon {
  float: left;
  margin: 7px 10px 0 0;
  opacity: .8;
}
#marketing h2 {
  font-size: 22px;
}
#marketing h2,
#marketing h3 {
  font-weight: 300;
}

#regions h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
#regions p.marketing-byline {
  margin: -18px 0 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}
#regions #snippets[data-mercury] .contents {
  cursor: move;
}
#regions [data-snippet] .contents {
  background: #eee;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 110px;
}
#regions h2 {
  font-size: 22px;
}
#regions h2,
#regions h3 {
  font-weight: 300;
}

#footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}
#footer p {
  margin-bottom: 0;
  color: #555;
}

@media (min-width: 1200px) {
  #regions [data-snippet] .contents {
    min-height: 90px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #regions [data-snippet] .contents {
    min-height: 127px;
  }
}
@media (max-width: 767px) {
  #regions [data-snippet] .contents {
    min-height: 0;
  }
}


.tweets ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tweets li {
  border-bottom: 1px dotted #CCC;
  padding: 5px 0;
}
.tweets li img {
  margin: 0 10px 5px 0;
}
.tweets li span {
  display: block;
  margin-left: 50px;
  min-height: 42px;
}
