body.home {
  background: url(../images/logo.png) no-repeat 200px 90px;
}
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}

#navigation {
  border-top: 5px solid #09F;
}
#subnav {
  width: 100%;
  height: 36px;
  background-color: #EEE;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whiteSmoke), color-stop(100%, #EEE));
  background-image: -webkit-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -ms-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  background-image: -o-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#subnav .nav > .active > a, #subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #E9E9E9;
  border-right-color: #DDD;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .05);
}
#subnav .nav > li > a {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid whiteSmoke;
  border-right: 1px solid #E5E5E5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#body {
  padding-top: 100px;
}
#hero {
  text-align: center;
  background: transparent;
  padding-bottom: 20px;
}
#hero h2 {
  color: #666;
  font-weight: 300;
  font-size: 26px;
}
#hero h2 strong, #hero h2 b {
  font-weight: 400;
}
#hero .installation {
  margin: 0 auto;
  width: 250px;
  text-align: left;
  padding: 20px;
  color: #FFF;
  font-family: Monaco, Consolas, "Courier New", monospace;
  background: #333;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#social ul {
  list-style: none;
  text-align: center;
}
#social ul.support-links {
  margin-right: 30px;
}
#social li {
  display: inline;
  margin: 0 8px;
  color: #999;
}

#support {
  margin-top: 30px;
  text-align: center;
}

#marketing {
  margin-bottom: 30px;
}
#marketing h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
#marketing p.marketing-byline {
  margin: -18px 0 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}
#marketing img.icon {
  float: left;
  margin: 7px 10px 0 0;
  opacity: .8;
}
#marketing h2 {
  font-size: 22px;
}
#marketing h2,
#marketing h3 {
  font-weight: 300;
}

#regions h1 {
  margin: 36px 0 27px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}
#regions p.marketing-byline {
  margin: -18px 0 27px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}
#regions #snippets[data-mercury] .contents {
  cursor: move;
}
#regions [data-snippet] .contents {
  background: #eee;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 73px;
}
#regions h2 {
  font-size: 22px;
}
#regions h2,
#regions h3 {
  font-weight: 300;
}

#additional h3 {
  font-weight: 300;
}
#additional h3 i {
  vertical-align: baseline;
}

#footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}
#footer p {
  margin-bottom: 0;
  color: #555;
}


@media (min-width: 1200px) {
  #regions [data-snippet] .contents {
    min-height: 73px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #regions [data-snippet] .contents {
    min-height: 91px;
  }
}
@media (max-width: 767px) {
  #regions [data-snippet] .contents {
    min-height: 0;
  }
}


.tweets ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tweets li {
  border-bottom: 1px dotted #CCC;
  padding: 5px 0;
}
.tweets li img {
  margin: 0 10px 5px 0;
}
.tweets li span {
  display: block;
  margin-left: 50px;
  min-height: 42px;
}
