%form#carmenta_htmleditor{ :style => 'width:650px' }

  %textarea.carmenta-modal-pane-container{ :rows => '5' }

  .carmenta-modal-controls
    %input{ :type => 'submit', :value => 'Save and Replace' }
