
/*
 * Buttons TODO: Refactor to a more generic button
 *----------------------------------------------------------------------------*/
.btn {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 0.4em;
  display: block;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  background: #f5f5f5;
  border: 1px solid #a9a9a9;
  color: #666;
  cursor: pointer;
  line-height: normal;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
  padding: 0.4em 0.8em;
}
.btn:visited {
  color: #666;
}
.btn:hover,
.btn:focus,
.btn.active {
  color: #666;
  background: #ededed;
}
.btn:hover,
.btn.active {
  border: 1px solid #8f8f8f;
}
.btn:hover {
  -webkit-box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
}
.btn:focus {
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 1px 4px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 1px 4px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 1px 4px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(82, 168, 236, 0.8);
  outline: 0;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
}

/* Overrides for the blue "important" button */
.btn.important {
  background: #268bd2;
  border: 1px solid #16527c;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.important:visited {
  color: #fff;
}
.btn.important:hover,
.btn.important:focus,
.btn.important.active {
  color: #fff;
  background: #2482c5;
}
.btn.important:hover,
.btn.important.active {
  border: 1px solid #0f3550;
}

