/*
 * Forms
 *---------------------------------------------------------------------------*/
.mercury-form,
.mercury-form ul,
.mercury-form ol,
.mercury-form li,
.mercury-form fieldset,
.mercury-form p {
  margin: 0;
  padding: 0;
}
.mercury-form abbr {
  border: 0;
  font-variant: normal;
}
.mercury-form fieldset {
  margin-bottom: 10px;
  background: #F6F6F6;
  border: 1px solid #CCC;
  border-radius: 7px;
  -moz-border-radius: 7px;
}
.mercury-form fieldset:last-child {
  margin-bottom: 0;
}
.mercury-form fieldset legend {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: -4px;
}
.mercury-form ol {
  margin: 12px 9px;
}
.mercury-form ol li {
  display: block;
  margin-bottom: 10px;
}
.mercury-form label {
  display: block;
  float: left;
  width: 23%;
  margin-right: 9px;
  text-align: right;
  line-height: 27px;
  font-size: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mercury-form label input {
  width: auto !important;
  margin: 0 5px 0 2px !important;
}
.mercury-form select,
.mercury-form input[type=text],
.mercury-form input[type=password],
.mercury-form textarea,
.mercury-form input.text {
  margin: 0;
  border: 2px solid #CCC;
  padding: 2px 4px;
  font-family: Arial, Geneva, sans-serif;
  font-size: 1.5em;
  width: 74%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.mercury-form li.boolean {
  margin-left: 23%;
  padding-left: 9px;
}
.mercury-form li.boolean label {
  width: auto;
}
.mercury-form fieldset.buttons {
  clear: both;
  padding: 0;
  background: none;
  border: none;
  text-align: left;
}
.mercury-form fieldset.buttons ol {
  margin: 0 -2px 0 0;
  float: right;
}
.mercury-form fieldset.buttons ol li {
  float: left;
  padding-left: 0.5em;
  padding-right: 0;
}
.mercury-form fieldset.buttons .commit {
  margin: 0;
}
.mercury-form fieldset.buttons .commit input {
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 0.4em;
  display: block;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  background: #268bd2;
  border: 1px solid #16527c;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  line-height: normal;
  padding: 0.4em 0.8em;
}
.mercury-form fieldset.buttons .commit input:hover {
  color: #fff;
  background: #2482c5;
  border: 1px solid #0f3550;
  -webkit-box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.7);
}
