/*
 * Statusbar
 *----------------------------------------------------------------------------*/
.mercury-statusbar {
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 10020;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23px;
  cursor: default;
  padding: 0 10px;
  background: #E2E1E2;
  border-top: 1px solid #727272;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 8.5pt;
  line-height: 23px;
  color: #222;
}
