= semantic_form_for 'htmleditor', { html: { id: 'mercury_htmleditor', style: 'width:650px' } } do |f|

  %textarea.mercury-modal-pane-container{ :rows => '5' }

  .mercury-modal-controls

    = f.buttons do
      = f.commit_button 'Save and Replace'
