<div id="mercury_sanitizer" style="width:450px">
  <div class="information">It looks like you've pasted directly from Microsoft Office!<br/><br/>Sadly though, your browser wasn't able to properly handle what you pasted.  But that's ok, because I've sanitized it for you!</div>
  <textarea rows="20" wrap="off"></textarea>
  <strong>You can just copy and paste the sanitized content that appears above.</strong>
</div>
