<div class="mercury-snippet-panel">
  <div class="filter">
    <input class="filter" type="text">
  </div>
  <ul>
    <li data-filter="example, snippet, favorite, beer">
      <img alt="Snippet Name" data-snippet="example" src="/assets/mercury/default-snippet.png"/>
      <h4>Snippet Name</h4>
      <div class="description">A one or two line long description of what this snippet does.</div>
    </li>
    <li data-filter="no options, snippet">
      <img alt="No Option Snippet" data-snippet="no_options" data-options="false" src="/assets/mercury/default-snippet.png"/>
      <h4>No Options Snippet</h4>
      <div class="description">This snippet doesn't have options.</div>
    </li>
  </ul>
</div>
