.mercury-snippet-panel

  .filter
    %input.filter{ :type => 'text' }

  %ul
    %li{ 'data-filter' => "example-snippet" }
      = image_tag('mercury/default-snippet.png', 'data-snippet' => 'example' )
      %h4 Snippet Name
      .description A one to two line long description of what this snippet does.

    -#%li{ 'data-filter' => "test-snippet" }
    -#  = image_tag('mercury/default-snippet.png', 'data-snippet' => 'test' )
    -#  %h4 Test Snippet
    -#  .description A one to two line long description of what this snippet does.
