!!!
%html
  %head
    %title Mercury Editor
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body

    = yield

    #footer
      %hr/
      Copyright 2011 Mercury LLC.  All rights reserved.
