!!!
%html
  %head
    %title MercuryEditor
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body

    = yield

    :javascript
      mercuryEditor = new MercuryEditor();
      Mercury.Snippet.load({
        'snippet_1': {name: 'example', options: {'options[favorite_beer]': "miller_lite", 'options[first_name]': "1"}},
        'snippet_2': {name: 'example', options: {'options[favorite_beer]': "miller_lite", 'options[first_name]': "2"}},
        'snippet_3': {name: 'example', options: {'options[favorite_beer]': "miller_lite", 'options[first_name]': "3"}},
        'snippet_4': {name: 'example', options: {'options[favorite_beer]': "miller_lite", 'options[first_name]': "4"}},
        'snippet_5': {name: 'example', options: {'options[favorite_beer]': "miller_lite", 'options[first_name]': "5"}},
        'snippet_6': {name: 'example', options: {'options[favorite_beer]': "miller_lite", 'options[first_name]': "6"}},
        'snippet_7': {name: 'example', options: {'options[favorite_beer]': "miller_lite", 'options[first_name]': "7"}},
        'snippet_8': {name: 'example', options: {'options[favorite_beer]': "miller_lite", 'options[first_name]': "8"}}
      });